body {
  background-color: #1b1c1d;
  color: #cccccc;
}

@media only screen and (max-width: 600px) {
  .grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(100%, 100%)) !important;
    grid-template-rows: auto !important;
    grid-gap: 12px;
  }

  input {
    height: 25px;
    width: 100%;
  }

  .email {
    width: 100%;
  }

  .showBorder {
    border: none;
  }
}

@media only screen and (min-width: 600px) {
  .grid {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(190px, 200px)) !important;
    grid-template-rows: auto !important;
    grid-gap: 12px;
  }

  .email {
    width: 400px;
  }

  input {
    height: 25px;
  }

  .showBorder {
    border-right: solid 1px #cccccc;
  }
}
.borjessons-footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

#flash {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  color: #21ba45;
  margin-top: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #21ba45;
}

input:focus + .slider {
  box-shadow: 0 0 1px #28b047;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
